<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End Quiz</title>
    <style>
      .thankyou{
         background : grey;
         text-align : center;
         width : 50%;
         margin : 100px auto;
         padding : 50px;
         font-family : sans-serif;
         border-radius : 8px;
      }
    </style>
</head>
<body>
<div class="thankyou">
    <img src="static/confirmation.png" alt="confirm" width="10%" height="10%" />
   <h2>Thank you for attending Quiz</h2>
</div>

</body>
</html>